
Interface/AddOns/RougeUI/Libs/classAbilities.lua
Interface/AddOns/RougeUI/Libs/core.lua
Interface/AddOns/RougeUI/Libs/LibClassicDurations.xml
Interface/AddOns/RougeUI/Libs/npcAbilities.lua
Interface/AddOns/RougeUI/Libs/diminishingReturns.lua
